<div id="<%= dom_id participation %>">
  <p>
    <strong>Program:</strong>
    <%= participation.program_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= participation.user_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= participation.role %>
  </p>

</div>
