<h1>Editing participation</h1>

<%= render "form", participation: @participation %>

<br>

<div>
  <%= link_to "Show this participation", @participation %> |
  <%= link_to "Back to participations", participations_path %>
</div>
