<% 5.times do |index| %>
	<div class="ranking-field d-flex flex-column">
		<%= label_tag "ranking[mentor_id][]", "Rank #{index + 1}", for: "#{index}_rank_mentor" %>
		<%# can't use the below available_options logic here, but maybe useful later for javascript%>
		<%# available_options = mentor_options(program).reject { |option| rankings.any? { |r| r.mentor_id == option[1].to_i } } %>
		<%# TODO find way to change up id cuz they all the same for select tag %>
		<% previous_value = rankings[index]&.mentor_id %>
		<%= select_tag "ranking[mentor_id][]", options_for_select(mentor_options(program), [previous_value]), id: "#{index}_rank_mentor", class: "form-select", prompt: 'Select Mentor' %>
	</div>
<% end %>

