<div id="<%= dom_id ranking %>">
  <p>
    <strong>Mentee:</strong>
    <%= ranking.mentee_id %>
  </p>

  <p>
    <strong>Mentor:</strong>
    <%= ranking.mentor_id %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= ranking.rank %>
  </p>

</div>
