<p style="color: green"><%= notice %></p>

<h1>Rankings</h1>

<div id="rankings">
  <% @rankings.each do |ranking| %>
    <%= render ranking %>
    <p>
      <%= link_to "Show this ranking", ranking %>
    </p>
  <% end %>
</div>

<%= link_to "New ranking", new_ranking_path %>
