<div class="container d-flex justify-content-between my-4">
  <h2 class="mb-0">Programs</h2>
  <%= link_to new_program_path, class: "btn btn-outline-secondary rounded-3 py-1 px-2 fs-1.5 link-underline link-underline-opacity-0" do %>
    Create Program
    <i class="fa-solid fa-plus ps-2"></i>
  <% end %>
  <!-- TODO figure out how to shift create button down when on very small screen -->
</div>

<!-- TODO have some text in case there's been no programs created at all-->

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <% @programs.each do |program| %>
    <div class="col mb-4">
    <%= render program, locals: { program: program, id: program.id} %>
    </div>
  <% end %>
  </div>
</div>