/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.clickable-card:hover {
    box-shadow: 0px 20px 20px 15px rgba(0,0,0,0.1);
}

.create_button:hover {
    box-shadow: inset 0 -0.5em 0.5em rgba(0,0,0,0.1);
}

.hero-image {
    position: relative;
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: 0.7;
    mix-blend-mode: multiply;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    /* to change color sometime for something more universally fitting */
}

.hero-image-container {
    width: 100%;
    height: 20rem;
    background-color: #b7b6b6; /* Optional background color */
    position: relative;
    width: 100%;
    z-index: -1;
}

.clickable:hover {
    cursor: pointer;
}

.img-div {
    max-width: 12.5rem;
}

.card-min-width {
    min-width: 12.5rem;
}

.blue-background {
    background-color: rgba(18,39,102,255);
    padding: 2rem 0;
}

.blue-background-text {
    color: white;
    text-align: center;
}

@media (min-width: 20rem) {
    .blue-background {
        padding: 5rem;
    }
}

.to-be-replaced {
    background-color: rgba(18,39,102,255);
}
