
  <div class="card clickable-card">
    <div class="card-body">
      <h5 class="card-title"><%= user.username %></h5>
      <p class="card-text"><%= user.bio.truncate_words(10) %></p>
    </div>
    <div class="card-footer">
      Email:
      <%= mail_to "#{user.email}", "#{user.email}", encode: "true", class: "card-link" %>
    </div>
  </div>


